
<h1>WELCOME TO ZENSAR</h1>
<div class="errImage">
<img src="assets/img/digvijay1.jpg " height="400px" width="900px">
</div>
<br>
<div class="container">
  <h3>Zensar Technologies Limited is a software and services 
    company with offices in over eighteen countries.</h3>
    <br>
    <br>
    <br>
    <br>
<h1>ZENSAR INFORMATION </h1>
<table >
  
  <tr>
      <th>Industry</th>
      <th>Founded</th>
      <th>Headquarters</th>
      <th>Key people</th>
      <th>Services</th>
  </tr>
  
  <tr >
      <td>IT Services</td>
      <td>1991</td>
      <td>Pune, India</td>
      <td>Sandeep Kishore,CEO and MD</td>
      <td>Digital Supply Chain</td>
  </tr>
</table>
<br>
</div>
